version: "3.9"

services:
  php:
    build:
      target: local
      context: ./
      dockerfile: docker/php/Dockerfile
    working_dir: /var/www/html
    depends_on:
      - mysql
    volumes:
      - ./:/var/www/html:cached
      - ./public:/var/www/html/public:delegated

  nginx:
    image: wodby/nginx
    depends_on:
      - php
    environment:
      NGINX_STATIC_OPEN_FILE_CACHE: "off"
      NGINX_ERROR_LOG_LEVEL: debug
      NGINX_BACKEND_HOST: php
      NGINX_VHOST_PRESET: php
      NGINX_SERVER_ROOT: /var/www/html/public
    volumes:
      - ./public:/var/www/html/public:delegated
      - ./node_modules:/var/www/html/node_modules:delegated
    networks:
      - default
      - traefik-gateway
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-gateway"
      - "traefik.http.routers.talentpulse-backend-nginx.rule=Host(`api.talentpulse.localhost`)"
      - "traefik.http.routers.talentpulse-backend-nginx.priority=1"
      - "traefik.http.routers.talentpulse-backend-nginx.entrypoints=https"
      - "traefik.http.routers.talentpulse-backend-nginx.tls=true"

  mysql:
    image: mysql/mysql-server:8.0
    command: --max_allowed_packet=32505856
    working_dir: /application
    environment:
      MYSQL_DATABASE: talentpulse
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: talentpulse
      MYSQL_PASSWORD: talentpulse
    volumes:
      - mysql:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
    ports:
      - "127.0.0.1:40201:3306"

  fontys-hogeschool-idp:
    image: kenchan0130/simplesamlphp
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: https://talentpulse.localhost
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: https://api.talentpulse.localhost/auth/methods/saml2/a5c5d904-ed29-4462-ab6b-e73cb3270967/acs
      SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE: https://api.talentpulse.localhost/auth/methods/saml2/a5c5d904-ed29-4462-ab6b-e73cb3270967/logout
    volumes:
      - ./docker/simplesaml/fontys-hogeschool/config/authsources.php:/var/www/simplesamlphp/config/authsources.php
      - ./docker/simplesaml/fontys-hogeschool/metadata/saml20-sp-remote.php:/var/www/simplesamlphp/metadata/saml20-sp-remote.php
      - ./docker/simplesaml/fontys-hogeschool/metadata/saml20-idp-remote.php:/var/www/simplesamlphp/metadata/saml20-idp-remote.php
    networks:
      - default
      - traefik-gateway
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-gateway"
      - "traefik.http.services.talentpulse-fontys-hogeschool-idp.loadbalancer.server.port=8000"
      - "traefik.http.routers.talentpulse-fontys-hogeschool-idp.rule=Host(`fontys-hogeschool.saml-talentpulse.localhost`)"
      - "traefik.http.routers.talentpulse-fontys-hogeschool-idp.entrypoints=https"
      - "traefik.http.routers.talentpulse-fontys-hogeschool-idp.tls=true"
    ports:
      - "50201:8080"

volumes:
  mysql:
    driver: local

networks:
  traefik-gateway:
    name: traefik-gateway
    external: true
