openapi: 3.0.0
info:
  title: 'TalentPulse API'
  version: v1.0
servers:
  -
    url: 'https://talentpulse-backend.localhost'
    description: 'Local Development'
paths:
  /auth/current-user:
    get:
      tags:
        - Authentication
      summary: 'Get current authenticated user'
      operationId: 369bc4826074631c96a7bb5c08b4bed6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResource'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  '/users/{userUuid}/enrolled_courses ':
    get:
      tags:
        - User
      summary: 'Get the enrolled courses of a user'
      operationId: 458252243345eaf52032427e0188c99b
      parameters:
        -
          name: userUuid
          in: path
          description: 'The UUID of the user'
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResource'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
components:
  schemas:
    JsonPaginator:
      properties:
        meta:
          properties:
            links:
              properties: {  }
            current_page:
              type: integer
            from:
              type: integer
            last_page:
              type: integer
            path:
              type: string
            per_page:
              type: integer
            to:
              type: integer
            total:
              type: integer
          type: object
      type: object
    UserResource:
      properties:
        uuid:
          description: 'The uuid of the user'
          type: integer
        first_name:
          description: 'The first name of the user'
          type: string
        last_name:
          description: 'The last name of the user'
          type: string
        email:
          description: 'The email of the user'
          type: string
        created_at:
          description: 'The date the user is created'
          type: string
          format: date-time
        updated_at:
          description: 'The date the user is updated'
          type: string
          format: date-time
      type: object
    CourseResource:
      properties:
        uuid:
          description: 'The uuid of the course'
          type: integer
        title:
          description: 'The title the user'
          type: string
        content:
          description: 'The content of the course'
          type: string
        created_at:
          description: 'The date the course is created'
          type: string
          format: date-time
        updated_at:
          description: 'The date the course is updated'
          type: string
          format: date-time
      type: object
  responses:
    '200':
      description: OK
    '201':
      description: Created
    '204':
      description: 'No Content'
    '400':
      description: 'Bad Request'
      content:
        application/json:
          schema:
            properties:
              message:
                description: 'The error message'
                type: string
            type: object
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            properties:
              message:
                description: 'The error message'
                type: string
            type: object
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            properties:
              message:
                description: 'The error message'
                type: string
            type: object
    '404':
      description: 'Not found'
      content:
        application/json:
          schema:
            properties:
              message:
                description: 'The error message'
                type: string
            type: object
security:
  -
    securityScheme: LocalhostOAuth
    type: oauth2
    flows:
      authorizationCode:
        authorizationUrl: 'http://talentpulse-backend.localhost/auth/methods/oauth/authorize'
        tokenUrl: 'http://talentpulse-backend.localhost/auth/methods/oauth/token'
        refreshUrl: 'http://talentpulse-backend.localhost/auth/methods/oauth/token/refresh'
        scopes: {  }
