name: Deploy to PROD
on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'The image tag you wish to deploy.'
        required: true
        default: 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Deploy on PROD (talentpulse.nl)
        uses: appleboy/ssh-action@v0.1.8
        env:
          IMAGE_TAG: ${{ inputs.IMAGE_TAG }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        with:
          host: ${{ secrets.DOCKER_PROD_HOST }}
          username: ${{ secrets.DOCKER_PROD_USER }}
          key: ${{ secrets.DOCKER_PROD_PRIVATE_KEY }}
          password: ${{ secrets.DOCKER_PROD_PASSWORD }}
          port: 22
          envs: IMAGE_TAG,GITHUB_TOKEN,GITHUB_ACTOR
          script: |
            echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
            cd /home/admin/deployments/deploy-backend-application
            touch .env.new
            echo "IMAGE_TAG=\"$IMAGE_TAG\"" >> .env.new
            echo "HOST=\"api.talentpulse.nl\"" >> .env.new
            echo "APP_NAME=\"TalentPulse\"" >> .env.new
            echo "APP_ENV=\"local\"" >> .env.new
            echo "APP_KEY=\"$PROD_APP_KEY\"" >> .env.new
            echo "DB_CONNECTION=\"$DB_CONNECTION\"" >> .env.new
            echo "DB_HOST=\"$DB_HOST\"" >> .env.new
            echo "DB_DATABASE=\"$MYSQL_DATABASE\"" >> .env.new
            echo "DB_USERNAME=\"$MYSQL_USER\"" >> .env.new
            echo "DB_PASSWORD=\"$MYSQL_PASSWORD\"" >> .env.new
            [ -f .env ] && mv .env .env.old
            mv .env.new .env
            touch .env.docker.new
            echo "MYSQL_DATABASE=\"$MYSQL_DATABASE\"" >> .env.docker.new
            echo "MYSQL_ROOT_PASSWORD=\"$MYSQL_ROOT_PASSWORD\"" >> .env.docker.new
            echo "MYSQL_PASSWORD=\"$MYSQL_PASSWORD\"" >> .env.docker.new
            echo "MYSQL_USER=\"$MYSQL_USER\"" >> .env.docker.new
            [ -f .env.docker ] && mv .env.docker .env.docker.old
            mv .env.docker.new .env.docker
            docker compose pull
            docker compose down php
            docker compose up -d php
            docker compose exec -it php php artisan optimize
            docker compose exec -it php php artisan migrate --force
